p{ 
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
    position:relative;
    background-color: whitesmoke;
    border-radius: 10px;
}

body{ 
    background-image: url(../images/woods.jpg);
    background-size: cover;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
button{
    height:70px; 
    width:200px; 
    display: inline-block;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    background-color: black;
    color:white; 
    border-radius: 10px;
}

#option1 { 
    position: fixed;   
    top: 200px; 
    left:200px; 
}

#option2 { 
    position: fixed; 
    top: 200px; 
    right:200px; 

}

button:hover{
    background-color: #666; 
}