p{ 
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
    position:relative;
    background-color: whitesmoke;
    border-radius: 10px;
}

body{ 
    background-image: url(../images/dog.jpg);
    background-size: cover;
}
h1 {  
    font-size: 50px;
    font-family: sans-serif;
    text-decoration-color: red;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
}

button{
    height:70px; 
    width:200px; 
    display: inline-block;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    background-color: black;
    color:white; 
    border-radius: 10px;
}

#option1 { 
    position: fixed;   
    top: 200px; 
    left:200px; 
}

#option2 { 
    position: fixed; 
    top: 200px; 
    right:200px; 

}

button:hover{
    background-color: #666; 
}